body {
  background-image: url("./imagen/pokemon-go-1-viaje-151-suenos-papel-pintado-2560x1080_14.jpg");
  margin: 0;
  font-family: rubik;
  color: white;
  background-repeat: no-repeat;
  background-color: #010206;
  
  
}

.buscador{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.botonBuscar {
  margin: 50px;
  padding: 15px 30px;
  border: 5px solid #ff0066;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: black;
  color: #ff0066;
  box-shadow: 0px 0px 40px 2px #ff0066;
  text-transform: uppercase;
  justify-content: center;
  
  
  
  
    



}

.textoBuscar{
  margin: 50px;
  padding: 15px 30px;
  border: 5px solid #ff0066;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: black;
  color: #ff0066;
  box-shadow: 0px 0px 40px 2px #ff0066;
  


}

.fotoencontrada{
  background-color: rgba(0, 0, 0, 0.198);
  color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 3px 15px #ff0066;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 310px;
  
}

.cartuca{
  width: 100%;
  display: flex;
  justify-content: center;

}


.buscador{
  margin-left: 30px;
}


.container {
  padding: 0px;
  margin: 0 auto;
}

.headImagenContainer {
  margin-top: 150px;
  margin-bottom: 150px;
  

}
 
.headImagenContainer img {
  max-width: 90%;
  display:block;
  margin: 0 auto;
  margin-bottom: 350px;
}



.fotocarta{
    height: 180px;
    width: 180px;
}

#pokedex div {
    background-color: rgba(0, 0, 0, 0.472);
  color: whitesmoke;
  border: 3px solid #2A4396;
  border-radius: 20px ;
  box-shadow: 5px 5px 15px #2A4396;
  margin: 10px;
  padding: 20px;
  text-align: center;

}

#pokedex {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.card:hover {
  animation: bounce 0.5s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}
